body{
    background-color: bisque;
}

.done {
    text-decoration: line-through;
    text-decoration-color:red ;
    text-decoration-thickness: 5px;   
}

li:hover{
    cursor: pointer;
}

.x-mark {
    font-size: 1rem;
    padding: 5px;
    vertical-align: middle;
}

.x-mark:hover{
    cursor: pointer;
}
